@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.for-all-body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

body{
    background:#000;
  
}
#hero{
    max-width: 100%;
    width:1170px;
    background:#fff;
    margin:0 auto;
    position:relative;
}
#hero img{
    width: 100%;
    margin:70px 0;
}
.group-img{
    width:245px;
    height:240px;
    position: absolute;
    top:40px;
    left: 50%;
    transform: translateX(-50%);
    padding:10px;
}

 .header-description{
       position: absolute;
       top:350px;
       left:50%;
       transform:translateX(-50%);
       padding:10px 0px ;
  
 }
 .header-description h1{
    font-size:30px;
    padding: 10px 0;
    text-align:justify;
    word-spacing:4.1px;
    font-weight: 800;
  
 }

 .header-description p{
    font-size: 17.3px;
    text-align: center;
    padding: 10px 0;
    line-height: 23px;
    opacity:0.8;
    font-weight:549;
    
 }
 .contact-btn{
    position:absolute;
    top:530px ;
    left: 50%;
    transform: translateX(-50%);
  
 }
 .contact-btn button{
    width:180px;
    height: 55px;
    border: 0;
    outline:0;
    color:#fff;
    background:#2E366D;
    border-radius: 5px;
    font-size: 16px;
    padding:5px;

 }
